<h4>Documentation</h4>
<p>
  See <%= link_to 'SwaggerHub specs', @documentation_url %>
</p>

<h3>Transit agencies included</h3>
<ul>
  <% @agencies.each do |agency| %>
    <li><%= agency.name %></li>
  <% end %>
</ul>
